@import url('./styles/typography.css');
@import url('./styles/vars.css');

body{
    background: var(--background-default);
    margin: 0;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.d-flex-cb{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.pl-input__wrapper.search, .pl-input__inner.search{
    background: var(--neutral-02) !important;
    border: 0 !important;
}

