/*разбить на стили + переменные под цвета?*/
body{
    margin: 0;
    background-color: #f6f6f4;
}
.main-content{
    overflow-x: auto;
    padding: 2rem;
    flex: 1;
}
/*тоже както не так исправь, хотя пойдет*/
.b-flex{
    justify-content: space-between
}
.c-flex{
    align-items: center
}
.s-flex{
    align-items: stretch
}

.d-flex-cb{
    display: flex;
    justify-content: space-between;
    align-items: center
}
.secondary-text{
    font-size: small;
    color: #cccccc ;
}

.ns {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/*это должно сдесь быть?*/
.claim-id{
    font-size: small;
    padding: 5px;
    width: 6rem;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
}

/*импортант плохо, потом подумаю и тут поменять*/
.pl-input__wrapper{
    border: 3px solid #eff0f5 !important;
    padding: 1.25rem 1rem !important;
}
.pl-textarea__wrapper{
    border: 3px solid #eff0f5 !important;
}
/*ты кто*/
.nc-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white !important;
    padding: 2rem;
    border-radius: 1rem;
    flex-grow: 1;
}
/*попытатся тут также сдвреным*/
.search>.pl-input>.pl-input__wrapper{
    border: 3px solid #f4f4f4 !important;
    background-color: #f4f4f4;
}
.search.pl-input__inner{
    background-color: #f4f4f4;
}