body{
    margin: 0;
    background-color: #f6f6f4;
}
.main-content{
    /*временно*/
    height: calc(100vh - 40px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;
    /*наверное это плохо, потом подумаю*/
    /*необходимо добавить самостоятельно и описать ширину блока для различных разрешений экрана*/
}
/*тоже както не так исправь*/
.b-flex{
    justify-content: space-between
}
.c-flex{
    align-items: center
}
.s-flex{
    align-items: stretch
}
.secondary-text{
    font-size: small;
    color: #cccccc ;
}
.ns {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .claim-id{
    font-size: small;
    padding: 5px;
    width: 6rem;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
}

/*импортант плохо, потом подумаю*/
.pl-input__wrapper{
    border: 3px solid #eff0f5 !important;
    padding: 1.25rem 1rem !important;
}
.pl-textarea__wrapper{
    border: 3px solid #eff0f5 !important;
}